<br>

<hr>

<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="query" color="accent"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="buffer"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>

<hr>

<br>

<h1 id="html-body-header-heading-h1">Labyrinth 80129 🎲</h1>

<br>